<%= form_with(model: employee, class: "contents") do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation" class="px-3 py-2 mt-3 font-medium text-red-500 rounded-lg bg-red-50">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>
      <ul>
        <% employee.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="grid grid-cols-3 gap-4">
    <div class="my-5">
      <%= form.label :first_name %>
      <%= form.text_field :first_name, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
    <div class="my-5">
      <%= form.label :last_name %>
      <%= form.text_field :last_name, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
    <div class="my-5">
      <%= form.label :email_address %>
      <div class="flex items-center mt-2">
        <%= image_tag("email-icon.svg", alt: "Email Icon", loading: 'lazy', class: "w-10") %>
        <%= form.text_field :email_address, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 w-full" %>
      </div>
    </div>
  </div>
  <div class="flex justify-between w-full gap-10">
    <div class="w-2/4 my-5">
      <%= form.label :designation %>
      <%= form.text_field :designation, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
    <div class="w-2/4 my-5">
      <%= form.label :department_id %>
      <%= form.collection_select :department_id, @departments, :id, :name, { prompt: 'Choose Department' }, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
  </div>
  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
