<%= form_with(model: bill, class: "contents") do |form| %>
  <% if bill.errors.any? %>
    <div id="error_explanation" class="px-3 py-2 mt-3 font-medium text-red-500 rounded-lg bg-red-50">
      <h2><%= pluralize(bill.errors.count, "error") %> prohibited this bill from being saved:</h2>
      <ul>
        <% bill.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="grid grid-cols-2 gap-4">
    <div class="my-5">
      <%= form.label :bill_type %>
      <%= form.collection_select :bill_type, @types, :to_s, :to_s, { prompt: 'Select Type' }, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
    <div class="my-5">
      <%= form.label :amount %>
      <%= form.number_field :amount, min: 1, step: "1", class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
  </div>
  <div class="my-5">
    <%= form.label :employee_id %>
    <%= form.collection_select :employee_id, @employees, :id, :email_address, { prompt: 'Select Employee' }, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
